<div *ngIf="HasValidRepositories()">
    <h2>Results for {{organizationName}}</h2>
    <div class="dropdown">
        <button aria-haspopup="true" aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="languageFilterDropdown" type="button">
            Filter by Language
        </button>
        <div class="dropdown-menu" aria-labelledby="languageFilterDropdown">
            <a class="dropdown-item" (click)="FilterByLanguage('')">
                <strong>(Clear Filter)</strong>
            </a>
            <a class="dropdown-item" (click)="FilterByLanguage(filterLanguage)" *ngFor="let filterLanguage of filterLanguages">
                {{filterLanguage}}
            </a>
        </div>
    </div>
    <table class="table table-striped" id="repo-table" >
        <thead class="thead-dark">
            <tr>
                <th>Repository Name</th>
                <th>
                    Stargazers Count
                    <div class="dropdown table-sort">
                        <button aria-haspopup="true" aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="SortByStargazersDropdown" type="button" >Sort</button>
                        <div aria-labelledby="SortByStargazersDropdown" class="dropdown-menu">
                            <a class="dropdown-item" (click)="SortByStargazers(false)">Most Stargazers</a>
                            <a class="dropdown-item" (click)="SortByStargazers(true)">Least Stargazers</a>
                        </div>
                    </div>
                </th>
                <th>Programming Languages</th> 
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let repo of organizationRepositories">
                <td>
                    <div class="td-title">Repository Name</div>
                    <div class="td-content">{{repo.name}}</div>
                </td>
                <td>
                    <div class="td-title">Stargazers Count</div>
                    <div class="td-content">{{repo.countStargazers}}</div>
                </td>
                <td>
                    <div class="td-title">Languages</div>
                    <div class="td-content" *ngFor="let language of repo.languages">{{language}}</div>
                </td>
                <td>
                    <div>
                        <button class="btn btn-secondary" (click)="ViewRepoBranches(repo.name)" type="button">View branches</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!HasValidRepositories() && HasValidOrganizationName()">
    <p>Sorry! Couldn't find any results for {{organizationName}}</p>
</div>
<div *ngIf="!HasValidOrganizationName()">
    <p>You need to search for an organization!</p>
</div>
<div class="search-button-container">
    <button class="btn btn-outline-primary" (click)="ReturnHome()"type="button">Search again</button>
</div>

