#repo-table {
    margin-top: 0.5rem;
}

#repo-table th {
    vertical-align: middle;
}

#repo-table .dropdown.table-sort {
    display: inline-block;
    padding-left: 1rem;
}

#repo-table .td-title {
    display: none;
    font-weight: bold;
}

.dropdown-item {
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    #repo-table th {
        text-align: center;
    }
}
@media only screen and (max-width: 600px) {
    #repo-table thead  {
        display: none;
    }
    #repo-table td, #repo-table .td-title {
        display: block;
        text-align: center;
    }
}