<div *ngIf="HasValidBranches()">
    <h2>Branches for repository {{repositoryName}} ({{organizationName}})</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Branch Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let branch of repositoryBranches">
                <td>{{branch.name}}</td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-outline-primary" (click)="ReturnToRepoResults()" type="button">Return to search</button>
    </div>
</div>
<div *ngIf="!HasValidOrganizationName() || !HasValidRepositoryName()">
    <p>Oops, something went wrong!</p>
    <button class="btn btn-outline-primary" (click)="ReturnHome()" type="button">Search again</button>
</div>


