<div class="app-container container-fluid">
  <div class="header jumbotron">
    <h1 class="page-title">GitHub RESTful App Demo</h1>
    <p>Small application demonstration the use of the Github RESTful API for searching an organization's repositories and branches of these.</p>
  </div>
  <router-outlet></router-outlet>
</div>
<footer>
  <p class="text-center">Jonathan Ellis | 2019</p>
</footer>
