/* You can add global styles to this file, and also import other style files */
.loading-spinner {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 50%;
    bottom: 50%;
}

@media only screen and (max-width: 600px) {
    .search-button-container {
        text-align: center;
    }

    .search-button-container button {
        width: 100%
    }
}