<form [formGroup]="searchForm">
    <h2>Search for a repository</h2>
    <div class="form-group">
        <label for="orgNameSearchInput">Organization</label>
        <input class="form-control" formControlName="name" id="orgNameSearchInput" placeholder="e.g. Payworks" type="text" #name>
    </div>
    <div class="form-group search-button-container">
        <button class="btn btn-primary" (click)="SearchForOrganization(name.value)" type="button">Search</button>
    </div>
</form>
